<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<!-- Provide browserName as ie, chrome or firefox -->
<suite name="Mercury Tours Test">
	<parameter name="browserName" value="phantomjs" />
	<test name="New-User-Regsitration-And-Login">
		<parameter name="URL" value="http://newtours.demoaut.com" />
		<classes>
			<class name="com.demoaut.newtours.scripts.New_User_Registration_And_Login_Test" />
		</classes>
	</test>
	
	<test name="SeleniumEasy_TestHomePage">
		<parameter name="URL" value="http://www.seleniumeasy.com/test" />
		<classes>
			<class name="com.demoaut.newtours.scripts.Verify_SeleniumEasy_DemoHomePage_Test" />
		</classes>
	</test>
	
	<test name="CreateRegressionSuite">
		<parameter name="URL" value="http://www.seleniumeasy.com/test" />
		<classes>
			<class name="com.demoaut.newtours.utilities.jenkins.SuitesManagementTask" />
		</classes>
	</test>
	
</suite>